// Colors
$color-rusty-red: rgba(211, 63, 73, 1);
$color-thistle: rgba(215, 192, 208, 1);
$color-beige: rgba(239, 240, 209, 1);
$color-cambridge-blue: rgba(119, 186, 153, 1);

$color-transparent-rusty-red: rgba(211, 63, 73, 0.25);
$color-transparent-thistle: rgba(215, 192, 208, 0.5);
$color-transparent-beige: rgba(239, 240, 209, 0.5);

// Font
$font-family: "Kanit", sans-serif;
$font-size: 12px;

// Heights
$height-nav: 10rem;

// Border
$border-radius: 0.8rem;
